<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li class="non-blue-buttons" id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span class="non-blue-buttons">sections</span>
			</li>
			<li class="non-blue-buttons" id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span >search</span>
			</li>
		</ul>
	</nav>

	<nav class = "right-nav">
		<ul>
			<li>
				<span class="button">SUBSCRIBE NOW</span>
			</li>

			<li>
				<span class="button">LOGIN</span>
			</li>

			<li class="non-blue-buttons">
				<span id="dropdown-gear"><i class="fas fa-cog"></i></span>
				<%=render partial: 'shared/gear_dropdown' %> 
			</li>
		</ul>
	</nav>
	
</header>
