
<div class="masthead">
    <div class="language-nav">
        <ul>
            <li><a href="#">CSS</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">Ruby</a></li>
        </ul>
    </div>

    <div class="masthead-links">
        <ul>
            <li><button>Tuesday, October 18, 2016</button></li>
            <li><button>Today’s Paper</button></li>
            <li><button>Video</button></li>
            <li><button>77°F</button></li>
            <li><button>AAO +100%</button></li>
        </ul>
    </div>
</div>





